.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
*.py[cod]
__pycache__/
*.so
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

*.log
local_settings.py
db.sqlite3
media/
staticfiles/

env/
venv/
ENV/
env.bak/
venv.bak/
.Python